body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    color: white;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 61px;
    z-index: 100;
    border-bottom: 6px solid black;
  }
  
  .logo {
    display: flex;       
    align-items: center;   
    gap: 10px;              
  }
  
  .logo img {
    height: 50px;    
  }
  
  .logo p {
    font-size: 24px;       
    font-weight: bold;      
    margin: 0;              
    position: relative;
    top: 6px;
    color: #000000;
  }
  
  nav {
    display: flex;
    gap: 25px;
    align-items: center;
  }
  
  nav a {
    color: black;
    text-decoration: none;
    font-weight: 500;
  }
  
  .icons {
    display: flex;          /* Deixa os links em linha */
    gap: 25px;              /* Espaçamento entre os ícones */
    align-items: center;    /* Alinha verticalmente, se necessário */
  }
  
  .icons img {
    width: 24px;           /* Largura dos ícones */
    height: 24px;          /* Altura dos ícones */
  }

.hero-slider {
  position: relative;
  overflow: hidden;
  min-height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #2E2EFF, #000000);
  color: white;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 300%; /* 3 slides */
}

.slide {
  position: relative;
  min-width: 100%;
  display: flex;
  justify-content: center; /* pode ajustar depois */
  align-items: center;     /* pode ajustar depois */
  overflow: hidden;
}

.slide-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;    /* mantém proporção */
  height: 100%;   /* ocupa toda a altura do slide */
  max-width: none; /* evita restrição de largura */
  z-index: 1;
}


.text-content {
  position: relative;
  z-index: 2;          /* garante que o texto fique acima da imagem */
  text-align: center;
  color: white;
}

/* Botões de navegação */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.4);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 2em;
  border-radius: 50%;
}

.prev { left: 20px; }
.next { right: 20px; }


